<!-- Indicators -->
<ol class="carousel-indicators">
  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  <li data-target="#myCarousel" data-slide-to="1"></li>
  <li data-target="#myCarousel" data-slide-to="2"></li>
</ol>
<div class="carousel-inner" role="listbox">
{% for post in posts %}
    {% if loop.index  == 1 %}
        <div class="item active">
            {% media post.excerptPhoto, 'big' with {'class' : "img-rounded first-slide"} %}
            
                <div class="container">
                    <div class="carousel-caption">
                      <h1> {{post.title }}</h1>
                      <p> {{post.excerpt }}</p>
                      <p><a class="btn btn-lg btn-primary" href="{{ path('frontend_blog_single_article', { 'slug': post.slug })}} " role="button">Lire l'artcle</a></p>
                    </div>
                </div>
        </div>
    {% endif %}
    {% if loop.index  == 2 %}
        <div class="item">
            {% media post.excerptPhoto, 'big' with {'class' : "img-rounded second-slide"} %}
                <div class="container">
                    <div class="carousel-caption">
                      <h1> {{post.title }}</h1>
                      <p> {{post.excerpt }}</p>
                      <p><a class="btn btn-lg btn-primary" href="{{ path('frontend_blog_single_article', { 'slug': post.slug })}}" role="button">Learn more</a></p>
                    </div>
                </div>
        </div>
    {% endif %}
    {% if loop.index  == 3 %}
                <div class="item">
                {% media post.excerptPhoto, 'big' with {'class' : "img-rounded third-slide"} %}
                <div class="container">
                    <div class="carousel-caption">
                      <h1> {{post.title }}</h1>
                      <p> {{post.excerpt }}</p>
                      <p><a class="btn btn-lg btn-primary" href="{{ path('frontend_blog_single_article', { 'slug': post.slug })}}" role="button">Browse gallery</a></p>
                    </div>
                  </div>
                </div>
    {% endif %}
{% endfor %}

<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
</a>
</div>
