{% extends 'TaphaBlogBundle::base.admin-layout.html.twig' %}

{% if form is defined %}
{% form_theme form 'TaphaBlogBundle::form_div_layout.html.twig' %}
{% endif %}

{% block title %}
    {{ parent() }}{% if app.request.get('page') > 1 %} (page {{ app.request.get('page') }}){% endif %}
{% endblock %}

{% block blog_body %}
    {% include "TaphaBlogBundle::flashes.html.twig" %}    
  <div id="tapha_blog_page">
    <div id="tapha_blog_menu_left">
    <ul>
      <li><a href="{{ path('blog_homepage') }}">{{ 'admin.view'|trans({}, 'TaphaBlogBundle') }}</a></li>
      <li><a href="{{ path('badp_category') }}">{{ 'admin.categories'|trans({}, 'TaphaBlogBundle') }}</a></li>
      <li><a href="{{ path('badp_post') }}">{{ 'admin.posts'|trans({}, 'TaphaBlogBundle') }}</a></li>
      <li><a href="{{ path('badp_comment') }}">{{ 'admin.comments'|trans({}, 'TaphaBlogBundle') }}</a></li>
      <li>{% include "TaphaBlogBundle::_logout-link.html.twig" %}</li>
    </ul>
    </div>
    <div id="tapha_blog_body">
        {% block content_body %}{% endblock %}
    </div>
    <div class="clear"></div>
  </div>
{% endblock %}
